<div class="d-flex flex-column body">
    <div class="d-flex flex-row main-content ">
        <%- include('./components/sidebar')%>    
        <div class="container d-flex flex-column justify-content-sm-between ">
            <h1>CHATT</h1>
        </div>
    </div>
</div>
<script src="../../public/logInScript.js"></script>
